.text-mono
  font-family: monospace

// 文章标题
.text-title
  text-decoration: none

.text-title:hover
  color: #1976d2

// 工具类
.flex-1-1-auto
  flex: 1 1 auto !important

.flex-1-0-auto
  flex: 1 0 auto !important

.flex-0-1-auto
  flex: 0 1 auto !important

.flex-0-0-auto
  flex: 0 0 auto !important

.position-relative
  position: relative !important

.overflow-y-scroll
  overflow-y: scroll
