// 文章标题
.text-title
  text-decoration: none
.text-title:hover
  color: #1976d2
// 输入框 append-outer 插槽
.v-input__append-outer
  margin: 0 !important
// 数据表格表尾
.v-data-footer
  justify-content: center !important
