// data-table 数据表格
$data-table-regular-header-font-size: 1rem;
$data-table-regular-row-font-size: 1rem;
$data-footer-font-size: 1rem;
$data-footer-select-selections-comma-font-size: 1rem;
$data-footer-padding: 0;
// list
$list-dense-min-height: 48px;
$list-item-dense-title-font-size: 1rem;
// btn 按钮
$btn-active-opacity: none
